<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>

    <style>
      body {
        background: #43cea2; /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #185a9d, #43cea2) no-repeat center center fixed;
        background: linear-gradient(to top, #185a9d, #43cea2) no-repeat center center fixed;
      }

    </style>

    <script type="text/javascript">

        $(document).ready(function (){

            params = new URLSearchParams(window.location.search);
            if (params.get("error"))
            {
                $('.private-area-form').prepend('<p style="color: #FF2C25">Error login</p>')
            }
        });



    </script>

  </head>
  <body>

  <section>
    <div class="private-area-form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" action="/login" method="post">
        <input type="text" placeholder="username" id="username" name="username"/>
        <input type="password" placeholder="password" id="password" name="password"/>
        <button>login</button>
        <p>Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </section>


  <script>
      $('a').click(function(){
          $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
  </script>

  </body>
</html>