<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('common/imports') %>
  </head>
  <body>
    <%- include('common/navbar', { page : '/locations'}) %>
    <div class="main-content">
      <section>
        <div class="locations">
          <div class="location">ciao</div>
          <div class="location">a </div>
          <div class="location">tutti</div>
          <div class="location">xxxx</div>
        </div>
      </section>
    </div>
  </body>
</html>