<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <%- include('../common/imports') %>

    <style>
      body {
        background: #43cea2; /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #185a9d, #43cea2) no-repeat center center fixed;
        background: linear-gradient(to top, #185a9d, #43cea2) no-repeat center center fixed;
      }

      #errors{
        color: red;
        padding: 16px;
        font-size: 1.2em;
      }

    </style>
    <script src='/public/javascripts/login.js'></script>

  </head>
  <body>

  <section>
    <div class="private-area-form">
      <a href="/"><img src="/public/imgs/logo_fullsize.png"></a>

      <div id='errors'></div>

      <form class="register-form" action="/signup" method="post">
        <input type="text" placeholder="Username" name="username" required/>
        <input type="password" placeholder="password" name="password" required/>
        <input type="email" placeholder="email address" name="mail" required/>
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Surname" name="surname">
        <input type="text" placeholder="C.F." name="cf">
        <input type="submit" value="Register">
        <p class="message">Already registered? <a id="login" href="#">Sign In</a></p>
      </form>

      <form class="login-form" action="/login" method="post">
        <input type="text" placeholder="username" id="username" name="username"/>
        <input type="password" placeholder="password" id="password" name="password"/>
        <input type="submit" value="Login">
        <p>Not registered? <a id="register" href="#">Create an account</a></p>
        <a href="#" id="forget">Forgot your password?</a>
      </form>

      <form class="forget-form">
        <input type="email" placeholder="e-mail" required id='forget-email'>
        <input type="submit" value="Recover">
        <a href="#" id="back">Back</a>
      </form>

    </div>
  </section>

  </body>
</html>
