$brand-primary: #105592;
$navbar-height: 80px;
$navbar-default-bg: $brand-primary;
$secondary-text: #FFFFFF;
$navbar-default-link-color: #FFF;
$navbar-default-link-hover-bg:#272727;
$navbar-default-link-hover-color: #7dbbf1;
$background-color: #FFFFFF;
$footer-height: 100px;

@import "variables";
@import "_bootstrap.scss";
@import "bootswatch";



body {
  padding-top: $navbar-height + 10px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}


.main-content{
  @extend .container-fluid;
  position: relative;
  margin-bottom: $footer-height;
  z-index: 100;
  background-color:$background-color;
}

nav{
  @extend .navbar, .navbar-default, .navbar-fixed-top;
  background-color: $navbar-default-bg;
  opacity: 0.85;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  .shrink{
    height: 35px;
  }

  .header{
    @extend .navbar-header;
  }

  .brand{
    @extend .navbar-brand;
  }

  .landmarks{
    @extend .collapse , .navbar-collapse;
    > ul {
      @extend .nav , .navbar-nav;
      >li {
        > a {
        }
      }
    }

    .main-landmarks{
      @media (min-width: 768px) {
          position: absolute;
          left: 50%;
          transform: translatex(-50%);
        }
      }

    .landmarks-right{
      @extend .navbar-right;
    }
  }
}

section{
  @include make-row;
  @include clearfix;

}


.title{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @extend .text-center;
}

.preview-set{
  @include make-md-column(12);
  @extend .well;

  .feature{
    @include make-md-column(3);
  }

  .slideset-indicators{
    @extend .carousel-indicators;
    padding: 30px 0px 40px 40px; //???
  }
}

.button{
  @extend .btn, .btn-primary, .btn-block;
//  background-color: $secondary-color;
//  color: $secondary-text;
//  border-radius: 2px;
    height: 65px;
    font-size: 22pt;

}

.main-functions {
    > div {
      @include make-md-column(6);
    }
}


footer{
  background-color: $navbar-default-bg;
  color: $navbar-default-color;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: -10;
  width: 100%;
  height: $footer-height;

  @media screen and (max-width: 768px)
  {
    position: relative !important;
  }

  .links{
    @include make-md-column(4);
  }
  .locations{
    @include make-md-column(12);
  }

  a{
    color: $navbar-default-color;
    &:hover{
      color:$navbar-default-link-hover-color;
    }
  }

}

.locations
{
  @include make-md-column(6);
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-lg-column(3);
}