/* ------------ PARAMS ------------- */
$brand-primary: #105592;
$navbar-height: 80px;
$navbar-default-bg: $brand-primary;
$secondary-text: #FFFFFF;
$navbar-default-link-color: #FFF;
$navbar-default-link-hover-bg:#272727;
$navbar-default-link-hover-color: #7dbbf1;
$background-color: #FFFFFF;
$color-bar: #8dbbf6;
$aside-size: 2;
$brand-selected: #226b92;

@import "variables";
@import "_bootstrap.scss";
@import "bootswatch";
@import "loading";

/* ------------ BODY ------------- */
body{
  width: 100%;
  height: 100%;
  padding-top: $navbar-height;
  display: table;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  background-color:#105592;
}

/* ------------ HEADER ------------- */
header {
  min-height: 500px;

  //Create the parallax scrolling effect
  background: no-repeat fixed center;
  background-size: cover;

  text-align: center;
  @extend .center-block;

  >div{
    @include make-md-column(12);
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-lg-column(12);

    >h1{
      background-color: $navbar-default-link-hover-bg;
      color: white;
      display: inline-block;
      opacity: 0.85;
    }
  }
}

header.doctor{
  >div{
    @include make-md-column(6);
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-lg-column(6);
  }
}

/* ------------ NAVBAR ------------- */
nav.navigation-content{
  @extend .btn-group;
  >.page{
    @extend .btn, .btn-default;
  }
}

//Navbar
nav.main-navigation {
  @extend .navbar, .navbar-default, .navbar-fixed-top;
  background-color: $navbar-default-bg;
  opacity: 0.85;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  min-height: $navbar-height;

  .header {
    @extend .navbar-header;
  }

  .brand {
    @extend .navbar-brand;
  }

  .landmarks {
    @extend .collapse, .navbar-collapse;
    text-align: center; /* Set this */

    > ul {
      @extend .nav, .navbar-nav;
      display: inline-block;
      float: none;
      vertical-align: top;
      > li {
        > a {
        }
      }
    }

    .main-landmarks {
      .landmarks-right {
        @extend .navbar-right;
      }
    }
  }
}

/* ------------ COMPONENTS ------------- */
// Cards
.card{
  box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.15);
  transition: 0.3s;
  border-radius: 4px;
  background: #fff;
  >a{
    width: 100%;
    height: 100%;
    display: block;
    border:0;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
  }
  >a:hover{
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.2);
  }
  .card-header{
    padding: 20px;
    background-color:rgba(16, 85, 146, 0.65);
  }
  .card-text{
    text-align: center;
    color: black;
  }
  img{
    width:100%;
  }
}
.card:hover{
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.2);
}

//Default button
.button{
  @extend .btn, .btn-primary, .btn-block;
//  background-color: $secondary-color;
//  color: $secondary-text;
//  border-radius: 2px;
    height: 65px;
    font-size: 22pt;
}

/* ------------ CONTENTS ------------- */
.one-sided{
  width: 100%;
  @extend .container-fluid;
  background-color: white;
  >section {
    @include make-row;
    @include clearfix;
    > section{
      @extend div;
      @include make-md-column(9);
      @include make-xs-column(12);
      @include make-sm-column(9);
      @include make-lg-column(9);
    }
    > aside {
      @extend div;
      @include make-md-column(3);
      @include make-xs-column(12);
      @include make-sm-column(3);
      @include make-lg-column(3);
    }
    >article{
      @extend div;
      @include make-md-column(12);
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-lg-column(12);
    }
  }
}


.private-area-form {

  .register-form {
    display: none;
  }
}
  .private-area-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: $brand-primary;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
    button:hover, button:active, button:focus {
      background: $brand-selected;
    }
    p {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    p a {
      color: $brand-primary;
      text-decoration: none;
    }
  }


.contact-form{
  @extend .container;
  max-width: 500px;
}

form{
  >div:not(.checkbox){
      @extend .form-group;
  }

  input:not([type='checkbox']){
    @extend .form-control;
  }
  textarea{
    @extend .form-control;
  }
}

table{
  @extend .table;
}



// Two sided is used in 2-sided pages
.two-sided{
  @extend .container-fluid;
  >article{
    @extend div;
    @include make-xs-column(12);
    @include make-sm-column(12 - $aside-size);
    @include make-md-column(12 - $aside-size);
    @include make-lg-column(12 - $aside-size);
  }
  >aside{
    @extend div;
    @include make-xs-column(12);
    @include make-sm-column($aside-size);
    @include make-md-column($aside-size);
    @include make-lg-column($aside-size);

    .card{
      @include make-xs-column(4);
      @include make-sm-column(12);
      @include make-md-column(12);
      @include make-lg-column(12);

      padding-right: 0;
      padding-left: 0;
      margin-bottom: 40px;
    }
  }
}

// List base (defines images cards etc)
.list{
  @extend div;
  >article{
    margin-bottom: 2%;
  }
}

// List Large (locations)
.list-lg{
  @extend .list;
  >article{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);
  }
}

// List Medium (Areas)
.list-md{
  @extend .list;
  >article{
    @include make-xs-column(12);
    @include make-sm-column(2);
    @include make-md-column(2);
    @include make-lg-column(2);
  }
}

#content{
  min-height: 100vh;
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;

}


body.tight #content {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}


/* ------------ FOOTER ------------- */
footer{

  @extend .container-fluid;

  >section{
    @include make-row;
    @include clearfix;
  }

  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  min-height: 200px;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  padding-top: 40px;

  background-color: $navbar-default-bg;
  color: $navbar-default-color;
  text-align: center;
//  width: 100%;
  bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;

  .links{
    @include make-md-column(4);
  }
  .locations{
    @include make-md-column(12);
  }

  a{
    color: $navbar-default-color;
    text-decoration: none;
    &:hover{
      color:$navbar-default-link-hover-color;
    }
  }
}


//Home page
section.navigation-child{
  >div{
    @include make-md-column(3);
    margin-bottom: 10px;
  }
  .button
  {
    height: 40px;
    font-size:16px;
  }
}

/*end*/
