<footer id='footer'>
    <section>
        <div class="links">
            <a>Copyright 2016 CPM s.p.a.</a>
        </div>
        <div class="links">
            <a>Privacy Policy</a>
        </div>
        <div class="links">
            <a>Terms & Conditions</a>
        </div>
    </section>
    <section>
        <div class="locations">
        <a>Via Taormina 2, Milan - Italy
        Phone: +39 0267354673 </a></div>

        <div class="locations">
        <a>Via Saronno 5, Milan - Italy
            Phone: +39 0228465834</a></div>

        <div class="locations">
        <a>Via Mascheroni 2, Milan - Italy
            Phone: +39 026343379</a></div>
    </section>
</footer>
<%- include('last-imports') %>
