<footer id="footer">
    <section>
        <div class="links">
            <a>Copyright 2016 CPM s.p.a.</a>
        </div>
        <div class="links">
            <a>Privacy Policy</a>
        </div>
        <div class="links">
            <a>Terms & Conditions</a>
        </div>
    </section>
    <section id="locations-footer"></section>
</footer>

<script>
  $(document).ready(function(){
    $.ajax({
      dataType : 'json',
      url : '/api/location'
    }).done(function(result) {
        result.forEach(location => {
          $('#footer #locations-footer').append('\
            <div class="locations">\
                <a href="/location/' + location['id'] + '">' + location['position'] + '</a> - \
                <a href="tell:' + location['tell'] + '"><span class="glyphicon glyphicon-earphone"/>' + location['tell'] + '</a>\
            </div>');
        });
        $('#footer #locations-footer').append();
      });
  });
</script>
