<div class="preview-set">
   <div id="services" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <section>
            <div class="feature"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
            </div>
            <div class="feature"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
            </div>
            <div class="feature"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
            </div>
            <div class="feature"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
            </div>
          </section>
          <!--/row-->
        </div>
        <!--/item-->
        <div class="item">
          <section>
            <div class="feature"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
            </div>
            <div class="feature"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
            </div>
            <div class="feature"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
            </div>
            <div class="feature"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
            </div>
          </section>
          <!--/row-->
        </div>
        <!--/item-->
        <!--/item-->
      </div>
      <!--/carousel-inner-->
       <a class="left carousel-control" href="#services" data-slide="prev">‹</a>

      <a class="right carousel-control" href="#services" data-slide="next">›</a>
    </div>
    <ol class="slideset-indicators">
        <li data-target="#services" data-slide-to="0" class="active"></li>
        <li data-target="#services" data-slide-to="1"></li>
    </ol>
    <!--/myCarousel-->
</div>