<!DOCTYPE html>
<html>
  <head>
    <title>Who we are</title>
    <%- include('../common/imports') %>
  </head>
  <body>
    <%- include('../common/navbar', {page : '/who-we-are'}) %>
    <div class="container-fluid">
      Who we are continues here....<br>
      <a href='/who-we-are/statistics'>Statistics</a><br>
      <a href='/who-we-are/photogallery'>Photogallery</a><br>
    </div>
  </body>
</html>
