<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../common/imports') %>
    <style>
      header{
        background-image: url("../public/imgs/bg/doctor.jpg");
      }
    </style>
  </head>
  <body>
    <%- include('../common/navbar', {page : '/who-we-are'}) %>

    <header>
      <center>
        <img src="../public/imgs/img2.png">
      </center>
    </header>
    <center>
      <h1>Who we are</h1>
    </center>

    <section class="two-sided">
      <article>
        <!-- CLINIC -->
        <div>
          <h2>Our Clinic</h2>
          <p>CPM Clinic is an organization committed to clinical practice, providing expert, whole-person care to everyone who needs healing. For more than 50 years, people from all walks of life have found answers at CPM Clinic. CPM is a treasury of medical knowledge, where each day our outstanding staff delivers the highest-quality, highest-value care to our patients. With assist more than 500000 people every year.
          </p>
          <p>Diversity and inclusion are integral to CPM mission to provide excellent, culturally relevant care in a welcoming environment to patients from a wide variety of backgrounds and creating an inclusive work environment where differences are valued, allowing individuals to achieve and contribute to their fullest potential.
          This commitment to diversity is woven into the fabric of CPM Clinic — we embrace these values as we serve our patients, employees, students, suppliers and communities.
          Our mission is to inspire hope and contribute to health and well-being by providing the best care to every patient through integrated clinical practice, education and research.
          </p>
        </div>
        
        <!-- VALUE STATEMENTS -->
        <div>
          <h2>Our value statements</h2>
          <h3>Respect</h3>
          <p>Treat everyone in our diverse community, including patients, their families and colleagues, with dignity.</p>
          
          <h3>Compassion</h3>
          <p>Provide the best care, treating patients and family members with sensitivity and empathy.</p>
          
          <h3>Integrity</h3>
          <p>Adhere to the highest standards of professionalism, ethics and personal responsibility, worthy of the trust our patients place in us.</p>
          
          <h3>Healing</h3>
          <p>Inspire hope and nurture the well-being of the whole person, respecting physical, emotional and spiritual needs.</p>
          
          <h3>Teamwork</h3>
          <p>Value the contributions of all, blending the skills of individual staff members in unsurpassed collaboration.</p>
          
          <h3>Excellence</h3>
          <p>Deliver the best outcomes and highest quality service through the dedicated effort of every team member."</p>
        </div>

        <div>
          <hr />
          <section class="navigation-child">
            <div>
              <a href="#" class="button" role="button">Explore the services</a>
            </div>
            <div>
              <a href="#" class="button" role="button">Explore the areas</a>
            </div>
            <div>
              <a href="#" class="button" role="button">Our locations</a>
            </div>
            <div>
              <a href="#" class="button" role="button">Explore the areas</a>
            </div>
            <div>
              <a href="#" class="button" role="button">Our locations</a>
            </div>        <div>
              <a href="#" class="button" role="button">Explore the areas</a>
            </div>
            <div>
              <a href="#" class="button" role="button">Our locations</a>
            </div>
          </section>
        </div>
      </article>
      
      <aside>
        <div class="card">
          <a href="/who-we-are/gallery">
            <div class="card_header">
              <center><img src="/public/imgs/gallery.svg"></img></center>
            </div>
            <div class="card-text">
              <h5>Photo gallery</h5>
            </div>
          </a>
        </div>

        <div class="card">
          <a href="/who-we-are/statistics">
            <div class="card_header">
              <center><img src="/public/imgs/statistics.svg"></img></center>
            </div>
            <div class="card-text">
              <h5>Statistics</h5>
            </div>
          </a>
        </div>
      </aside>
    
    </section>
    <%- include('../common/footer') %>
  </body>
</html>
